html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Verhindert das Scrollen */
    cursor: url('https://github.com/DevMasterKev/Assets/blob/d2dabb271d9a89ede77a24d68c77d993328afef9/Cursors/pointer.cur?raw=true'), default;
}

/* Setze den Pointer-Cursor für alle anklickbaren Elemente */
a, button, input[type="button"], input[type="submit"], label[for], select, textarea {
    cursor: url('https://github.com/DevMasterKev/Assets/blob/d2dabb271d9a89ede77a24d68c77d993328afef9/Cursors/link.cur?raw=true'), pointer;
}

body {
    font-family: 'Coming Soon', cursive;
    background-color: #ffffff;
    background-image: url('https://github.com/DevMasterKev/Assets/blob/1a2b16bb9adab43a65b16c00d53a9a83700ffaaa/Wallpapers/lake-1.jpg?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%; /* Füllt den sichtbaren Bereich aus */
    color: #ffffff;
    }
