.iframe-window {
    display: none; /* Initial auf hidden gesetzt */
    position: absolute; /* Ermöglicht das freie Verschieben */
    width: 800px; /* Anpassen nach Bedarf */
    height: 600px; /* Anpassen nach Bedarf */
    border-radius: 15px;
    resize: both; /* Erlaubt sowohl horizontales als auch vertikales Ändern der Größe */
    overflow: hidden; /* Zeigt Scrollbalken, wenn das Fenster kleiner als der Inhalt ist */
    border: 2px solid rgba(7, 25, 54, 0.7); /* Ränder mit der gleichen Farbe wie der Titelbereich */
    z-index: 1; /* Initialer Z-Index */
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.dragging .iframe-window {
    transition: transform 0.1s ease-out;
}

.iframe-title-bar {
    display: flex;
    justify-content: space-between; /* Container links und rechts ausrichten */
    align-items: center; /* Vertikal zentrieren */
    padding: 5px;
    background-color: rgba(7, 25, 54, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    cursor: move; /* Cursor zum Bewegen */
    overflow: hidden;
}

.iframe-title {
    font-weight: bold;
    color: white; /* Verbessert die Sichtbarkeit des Titels */
    flex: 1; /* Ermöglicht dem Titel, den verfügbaren Platz zu füllen */
    text-align: center; /* Zentriert den Text im verfügbaren Platz */
    position: relative;
    margin-left: 7px;
}

/* Hinzufügen von CSS für den "Duplicate"-Button */
.window-duplicate-btn {
    position: relative;
    margin-right: 7px;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: rgba(243, 121, 22, 0.9);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    border: 1px solid #ccc;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2); /* Etwas Schatten für Tiefe */
    font-family: 'Coming Soon', cursive;
    }

.window-controls {
    display: flex;
}

.control-btn {
    width: 15px; /* Etwas kleiner für ein subtileres Design */
    height: 15px;
    border-radius: 50%; /* Kreisförmig */
    margin-left: 8px; /* Etwas mehr Platz zwischen den Buttons */
    position: relative; /* Für Pseudo-Elemente */
    border: none; /* Entfernt die Randlinie */
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2); /* Etwas Schatten für Tiefe */
    right: 10px;
}

.close-btn { background-color: #ff605c; }
.minimize-btn { background-color: #ffbd44; }
.maximize-btn { background-color: #00ca56; }

.iframe-area {
    display: flex;
    height: 100%;
    background-color: #ffffff;
}

iframe {
    flex-grow: 1;
    border: none; /* Entfernt den Standard-Rand von iframes */
    border-bottom-right-radius: 15px; /* Abgerundete Ecke rechts unten */
    pointer-events: true;
}

/* Deaktiviert die Textauswahl beim Ziehen */
body.dragging * {
    user-select: none;
}