@media (max-width: 768px) {
    .top-menu-bar {
        font-size: 13px;
        height: 28px;
    }

    .topbar-icon {
        width: 14px;
        height: 14px;
    }
    .menu-items, .system-controls {
        gap: 15px;
    }
    .dock {
height: 50px;
padding: 6px 6px;
}
.dock ul li img {
max-width: 40px;
max-height: 40px;
}
/* Anpassungen für Tooltips auf mittleren Geräten */
.dock a::after {
top: -40px; /* Anpassung der Position für kleinere Bildschirme */
font-size: 14px; /* Kleinere Schriftgröße für Tooltips */
padding: 6px 10px; /* Anpassung des Paddings für kleinere Tooltips */
}
    }

@media (max-width: 480px) {
    .top-menu-bar {
        font-size: 11px;
        height: 22px;
    }

    .topbar-icon {
        width: 12px;
        height: 12px;
    }
    .menu-items, .system-controls {
        gap: 10px;
    }
    .dock {
height: 40px;
padding: 4px 4px;
}
.dock ul li img {
max-width: 30px;
max-height: 30px;
}
/* Anpassungen für Tooltips auf kleinen Geräten */
.dock a::after {
top: -35px; /* Weitere Anpassung für sehr kleine Bildschirme */
font-size: 12px; /* Noch kleinere Schriftgröße für Tooltips */
padding: 5px 8px; /* Verringertes Padding für sehr kleine Tooltips */
}
    }